* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}
/* begin header */
#header {
    max-height: 70px;
    background-color: #F15412;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
   
}


#header #nav  {
    display: flex;
    max-height: 70px;
    justify-content: space-between;
}
#header .center-nav {
    max-height: 70px;
}

#header  li {
    float: left;
    margin-top: 24px;
    list-style-type: none;
    color: #fff;
}

#nav li {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

#header li> a {
    color: #fff;

}
#nav  .nav-list >li:hover > a{
    text-decoration: none;
    color: #ccc;
}

#header  .center-nav  {
    flex: 2; 
    display: flex;
}
.center-nav li {
    flex: 2;
    text-decoration: none;
}

#header  .logo,
#header   .right-nav {
    flex: 1;
}



#header  .right-nav {
    display: flex;
    justify-content: space-between;
}

#header  .right-nav .box {
    flex: 2;
}

#header  .right-nav .ti-user,
#header #nav  .right-nav  .ti-shopping-cart{
    flex: 1;
    text-align: right;
   
}


.logo {
    margin-left: 0px;
    line-height: 80px;
}
.box{
    margin: 100px auto;
   width: 30px;
    height: 50px;
  }
  .right-nav {
    display: flex;
  }

  .box {
    flex: 2;
  }

 
  
  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    width: 150px;
    height: 30px;
    background: #db774f;
    border: 0px;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 45px;
    border-radius: 30px;
   
  }
  
  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 1;
    color: #fff;
  }
  ::before {
    font-size: 12px;
    color: #ccc;
}
  /* end header */
  




  /* begin  tròng kính*/
 

#nav .subnav {
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: 46px;
    left: 0;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}
#nav .subnav > li:hover > a{
    text-decoration: none;
    background-color: #eee;
}

