* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}
/* begin header */
#header {
    height: 70px;
    background-color: #F15412;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
   
}
.header-inner{
    display: flex;
    height: 70px;
    justify-content: space-between;
}


#header #nav {
    height: 70px;
    flex: 3; 
   
    
}

 #logo,
 #right-header {
    flex: 1;
}

.list-nav > li {
    float: left;
    margin-top: 24px;
    list-style-type: none;
    color: #fff;
}

.center-nav {
    display: flex;
    justify-content: center;
}

#nav .center-nav > li {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 70px;
    position: relative;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    cursor: pointer; height: 70px;
    
}
#nav li a {
    display: block;
}

#nav .subnav > li {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}


#header li> a {
    color: #fff;
    text-decoration: none;
  

}
#header .center-nav > li:hover > a{
    text-decoration: none;
    color: #111;
    background-color: #ccc;
}

#header .subnav >li:hover > a {
    text-decoration: none;
    color: #111;
    background-color: #ccc;
}

#header  .right-nav {
    display: flex;
  
}


#right-header .box {
    flex: 3;
    margin-top: 20px;
    margin-left: 20px;
}

#right-header .user {
   margin-right: 20px;
    margin-top: 20px;
}
#right-header .cart{
    margin-right: -30px;
    
    margin-top: 20px;
   
}

#right-header .item-nav li > i {
    font-size: 20px;
}

.logo {
    margin-left: 0px;
    line-height: 80px;
}
.box{
    flex: 2;
    width: 30px;
    height: 50px;
    list-style-type: none;
  }

  .right-nav {
    display: flex;
    list-style-type: none;
  }
  
  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    width: 150px;
    height: 30px;
    background: #db774f;
    border: 0px;
    font-size: 10px;
    float: left;
    color: #fff;
    padding-left: 45px;
    border-radius: 30px;
   
  }
  
  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 1;
    color: #fff;
  }
  #nav .center-nav >li >a >i {
    font-size: 12px;
  }
  /* end header */
  




  /* begin  tròng kính*/
 

  #nav li:hover .subnav {
    display: block;
}


#nav .subnav li {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    display: block;
    
}
/* ---slide trang chủ*/
#slideHome{
    overflow: hidden;
    width: 1200px;
    height: 740px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#slideHome img{
    width: 100%;
}
#slideHome .slides{
    width: 12228px;
    -webkit-animation: slide 14s ease infinite;
}
#slideHome .slide{
    float: left;
    width: 1200px;
    height: 740px;
}
@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    40% {margin-left: -1456px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}

}
/* #slideHome .slide.active{*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/
/*#slideHome .btn-slide span{*/
/*    color: rgba(7, 7, 7, 0.75);*/
/*    font-size: 60px;*/
/*    opacity: 0.6;*/
/*}*/
/* #slideHome span#btn-prev{*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    left: 0%;*/
/*    z-index: 10;*/
/*    cursor: pointer;*/
/*}*/
/* #slideHome span#btn-next{*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    right: 0%;*/
/*    z-index: 10;*/
/*    cursor: pointer;*/
/*}*/
/* #slideHome .btn-slide ul {*/
/*    position: absolute;*/
/*    z-index: 10;*/
/*    width: 100px;*/
/*    bottom: 25%;*/
/*    left: 50%;*/
/*    margin-left: -50px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
/* #slideHome .btn-slide ul li {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background: rgba(7, 7, 7, 0.75);*/
/*    opacity: 0.6;*/
/*    list-style: none;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    transition: 0.6s;*/
/*}*/


